@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-size: 1rem;
}
:root {
--cyan-600: hsl(192, 37%, 48%);
--cyan-300: hsl(192, 90%, 77%);
--purple-600: hsl(268, 34%, 53%);
--white: hsl(0, 0%, 98%);
--purple-300: hsl(268, 100%, 86%);
--slate-900: hsl(240, 21%, 20%);
--slate-600: hsl(240, 10%, 57%);
--slate-300: hsl(240, 18%, 85%);
}

.slate-900{
    color: var(--slate-900);
}
.slate-600{
    color: var(--slate-600);
}
.bg-cyan-600{
    background-color: var(--cyan-600);
}
.bg-purple-600{
    background-color: var(--purple-600);
}
.cyan-300{
    color: var(--cyan-300);
}
.cyan-600{
    color: var(--cyan-600);
}
.purple-300{
  color: var(--purple-300);
}
.white{
  color: var(--white);
}
body{
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: 0;
    line-height: 1.1; 
    min-height: 100vh;
   background-color: var(--white);
}
.text-preset-1 {
  font-weight: 900;        
  font-size: 2.5rem;
}
.text-preset-2 {
  font-weight: 900;        
  font-size: 2rem;  
}
.text-preset-3 {       
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  font-weight: 900;
}
.text-preset-4 {    
    font-weight: 500;
  font-size: 1.125rem;    
}
.text-preset-5 {    
      font-weight: 900;
  font-size: 1rem;   
    line-height: 1.5;   
}

nav{
    /* width: 100%;
    height: 4.75rem; */
    padding-inline: 5rem;
    padding-block-start: 3rem;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
}

.hero{
padding-block-start: 4rem;
    padding-block-end: 2rem;

    gap: 0.5rem;

    
}
.combined{
  gap: 4rem;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-image{
  height: 10rem;
  width: 100%;
  background-size: cover;
}
.left,.right{
  display: none;
}
.content{
    padding-inline: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column; 
    text-align: center;
}
.frame{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.btn{
      border: none;
   display: flex;
    justify-content: start;
    align-items: start;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 1.8125rem;
    color: var(--white);
    gap: 0.5rem;
}

main{
  display: flex;
  padding-block-start: 2rem;
  padding-block-end: 4rem;
  padding-inline: 2rem;
  gap: 4rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.counter{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 3.5rem;
  height: 8.5rem;
  
}

.line{
  width: 0.0625rem;
  height: 5rem;
  background-color: var(--slate-300);
}

.circle{
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--slate-600);
  border: solid 0.0625rem var(--slate-300);
  background-color: var(--white);
  
}

.client{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 1rem;
}
.client img{
  height: 9rem;
  border-radius: 0.5rem;
}

.main-content{
    display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.box{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.main-content h2 {
  text-transform: uppercase;
}
footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: -1.75rem;
  
}
.footer-content{
  width: 100%;
  gap:4rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: 2rem;
  padding-block: 4rem;
  background-image: linear-gradient(hsla(192, 37%, 48%, 0.9),hsla(192, 37%, 48%, 0.9)),url("starter-code/assets/mobile/image-footer.jpg");
  background-size: cover;

}

footer{
  width: 100%;
}
.footer-hero{
    gap:1.5rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
    text-align: center;
}
footer .counter{
    z-index: 1;
  transform: translateY(1.75rem);
}


@media (min-width: 48rem){
  main{
    padding-block-start: 3.5rem;
  }
  .client{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 1rem;
}
.hero-image{
  height: 18.9375rem;
}
.footer-hero{
  width: 31.5rem;
}
.content{
  width: 28.01875rem;
}
.main-content{
  width: 31.5rem;
}
.hero{
  padding-block: 4rem;
}
.combined{
  gap: 4.5rem;
}
.box{
  width: 27.8125rem;
}
.footer-content{
  background-image: linear-gradient(hsla(192, 37%, 48%, 0.9),hsla(192, 37%, 48%, 0.9)),url("starter-code/assets/tablet/image-footer.jpg");
    background-size: cover;
}
.text-preset-1{
  font-size: 3rem;
}
.text-preset-2{
  font-size: 2.25rem;
}
.text-preset-3{
  font-size: 0.875rem;
}
.text-preset-4{
  font-size: 1rem;
}
.frame{
  flex-direction: row;
  gap: 0.5rem;
}

}


@media (min-width: 90rem){

  .footer-content{
      padding-inline: 5rem;
  padding-block: 7rem;

background-image: linear-gradient(hsla(192, 37%, 48%, 0.9),hsla(192, 37%, 48%, 0.9)),url("starter-code/assets/desktop/image-footer.jpg");
background-size: cover;
}

.footer-hero{
  gap:2rem;
    flex-direction: row;
  text-align: start;
  
  justify-content: center;
  align-items: start;
  width: 70rem;
}
.footer-content .btn{
  flex-direction: row;
}
.frame{
  gap: 0.5rem;
}
.content{
  padding-inline: 0;
}
main{
  padding-block-start: 3.5rem;
  padding-block-end: 4.5rem;
  padding-inline: 5rem;
}
.main-content{
  width: 34rem;
}
.client img{
  height: 16rem;
  border-radius: 2rem;
}
.text-preset-1{
  font-size: 4rem;
}
.text-preset-2{
  font-size: 2.5rem;
}
.text-preset-3{
  font-size: 1rem;
}
.text-preset-4{
  font-size: 1.125rem;
}
.hero-image{
  display: none;
}
.left,.right{
  display: inline-block;
}
.hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.combined{
padding-block: 4rem;
padding-inline: 5rem;
width: 70rem;
  gap: 2rem;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
align-items: center; */
display: grid;
grid-template-columns: auto 28.01875rem auto;
grid-template-areas:  " left content right ";

}
  .left{ grid-area: left;
     transform: translateX(-5.8125rem);
  }
  .content{ grid-area: content;}
  .right{ grid-area: right;
  transform: translateX(7.9875rem);
transform: translateY(4.75rem);
}
}


